body{
    font-family: 'Bitter', serif;
    font-weight: 300;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.block-content-wrapper{
    margin-top: 100px;
}

.navbar-default{
    margin-bottom: 0;
    background-color: #075651;
    border-color: transparent;

    font-size: 1.3em;
}

.navbar{
    border-bottom: solid #e4dd34 5px ;
}

.navbar-right .dropdown-menu{
    left: 0;
    right: auto;
    border-left-width: 0px;
}
.navbar-default .navbar-brand{
    color : #fff;

    font-size: 1.3em;
}

.navbar-default .navbar-nav>li>a {
    color : #fff;
    font-size: 1.02em;
}

.navbar-default .navbar-nav>li>a:hover {
    color : #fff;
    opacity: 0.8;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    opacity: 0.8;
}

.navbar-default .navbar-brand:focus{
    color : #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}

.navbar-default .navbar-nav>li>a:focus{
    color: #fff
}

.navbar-default .navbar-nav>li>a.login {
    border-radius: 0px;
    background-color: #059A47;
}

.login-modal-close-btn{
    display: inline-block;
    width: 100%;
}

.login-modal-close-btn button{
    right: 0px;
}

.social-login button{
    margin-bottom: 20px;
}

.social-login button.facebook{
    color: #13198c;

}

.social-login button.google{
    color: #a50001;
}

/*mypage.html css*/
.account-info-dev{
    text-align: center;
}

.account-info-dev button{
    margin-bottom: 5px;
}

.api-key-info{
    margin-top: 20px;
}

/*question_select.html*/
.question-select-div{
    text-align: center;
}