body{
    font-family: 'Bitter', serif;
    font-weight: 300;
}

.block-content-wrapper{
    margin-top: 100px;
}

.navbar-default{
    margin-bottom: 0;
    /*background-color: transparent;*/
    /*background: url("/static/images/red.jpg");*/
    background-color: #075651;
    border-color: transparent;

    font-size: 1.3em;
}

.navbar{
    border-bottom: solid #e4dd34 5px ;
}

.navbar-right .dropdown-menu{
    left: 0;
    right: auto;
    border-left-width: 0px;
}
.navbar-default .navbar-brand{
    color : #fff;

    font-size: 1.3em;
}

.navbar-default .navbar-nav>li>a {
    color : #fff;
    font-size: 1.02em;
}

.navbar-default .navbar-nav>li>a:hover {
    color : #fff;
    opacity: 0.8;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    opacity: 0.8;
}

.navbar-default .navbar-brand:focus{
    color : #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}

.navbar-default .navbar-nav>li>a:focus{
    color: #fff
}

.navbar-default .navbar-nav>li>a.login {

}
