body{
    font-family: 'Bitter', serif;
    font-weight: 300;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.navbar-back{
    margin-bottom: 100px;
}

.navbar-right .dropdown-menu{
    left: 0;
    right: auto;
    border-left-width: 0px;
}

.navbar-default{
    margin-bottom: 0;
    background-color: #075651;
    border-color: transparent;
    font-size: 1.3em;
}

.navbar-default .navbar-brand{
    color : #fff;

    font-size: 1.3em;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    opacity: 0.8;
}

.navbar-default .navbar-brand:focus{
    color : #fff;
}

.navbar-default .navbar-nav>li>a {
    color : #fff;
    font-size: 1.02em;
}

.navbar-default .navbar-nav>li>a:hover {
    color : #fff;
    opacity: 0.8;
    color:#fff;
}

.navbar-default .navbar-nav>li>a:focus{
    color: #fff
}

.navbar-default .navbar-nav>li.login {
    border-radius: 0px;
    background-color: #059A47;
    margin-left: 20px;
    width: 120px;
}

.navbar-default .navbar-nav>li.login p {
    display: inline-block;
    width: 70px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li.login .nav-user-fa {
    display: inline-block;
    color: #fff;
}

.navbar-default .navbar-nav>li.login .dropdown-menu{
    min-width: inherit;
    width: 120px;
}

/*side navbar css*/
ul.dropdown-menu{
    border: 0;
    opacity: 0.9;
}

/* footer css */
.footer{
    height: 320px;
    padding: 80px 160px;
    text-align: left;
    color: #47505d;
}

.footer .footer-nav{
    height: 160px;
}

.footer .footer-title{
    text-align: center;
    color: #075651;
    font-size: large;
}

.footer .footer-elements a{
    color: #6f7c92;
    text-decoration: none;
}

.footer .footer-license{
    margin-top : 30px;
    text-align: center;
    color: #8d9eba;
}