{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style rel="stylesheet" >
        .info-div{
            text-align: center;
        }

        .info-div h1{
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 80px;

            -webkit-text-stroke: 1px black;
            color: #e4dd34;
            text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }

        .download-div{
            text-align: center;
            margin-top: 50px;
        }

        .download-div a{
            margin: 30px;
        }
        
        .down-arrow{
            margin-top: 100px;
            margin-bottom: 100px;
            text-align: center;
            font-size: 2em;
        }
        .feature{
            width: 970px;
            margin : 0 auto;
            text-align: center;
            margin-top : 50px;
        }

        .feature .feature-element {
            height: 200px;
            font-size: 1.3em;
            margin-top : 10px;
        }

        .feature .feature-element span{
        }

        .sample-div{
            background-color: #47505d;
            height: 108px;
            color: #fff;
        }
        
        .sample-div .sample-div-inner{
            height: inherit;
        }
        
        .sample-div .sample-div-inner div{
            height: inherit;
            text-align: center;
            padding: 31px;
        }

        .sample-div h3{
            margin: 10px 0;
        }

        .sample-div a{
            color: #F7D46C;
        }

        .login-modal-close-btn{
            display: inline-block;
            width: 100%;
        }

        .login-modal-close-btn button{
            right: 0px;
        }

        .social-login button{
            margin-bottom: 20px;
        }

        .social-login button.facebook{
            color: #13198c;

        }

        .social-login button.google{
            color: #a50001;
        }

    </style>
{% endblock %}
{% block jumbotron %}
{% endblock %}
{% block content %}
    <div class="info-div">
        <img src="{% static 'images/qc_logo.png' %}" width="200">
        <h1>QuesCheetah</h1>
        <h4>Web SDK for the easy Q&A of your site.</h4>
        <div id="systemjs-sample" qid="1"></div>
    </div>
    <div class="download-div">
        <a href="https://raw.githubusercontent.com/mingkim/QuesCheetah/master/QuesCheetah/static/js/quescheetah-sdk-0.1.0.js" download><button class="btn btn-lg btn-default"><i class="fa fa-download fa-2x"></i> Download SDK</button></a>
        <a href="https://github.com/mingkim/QuesCheetah" target="_blank"><button class="btn btn-lg btn-default"><i class="fa fa-github fa-2x"></i> Github repo</button></a>
    </div>
    <div class="down-arrow">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
    <div class="feature">
        <div class="row">
            <div class="col-sm-6 feature-element">
                <span class="fa fa-wrench fa-5x" aria-hidden="true"></span>
                <p>Install QuesCheetah to your app easily.</p>
            </div>
            <div class="col-sm-6 feature-element">
                <span class="fa fa-bar-chart fa-5x" aria-hidden="true"></span>
                <p>Manage your results in our Dashboard.</p>
            </div>

            <div class="col-sm-6 feature-element">
                <span class="fa fa-picture-o fa-5x" aria-hidden="true"></span>
                <p>Customize your Q&A freely.</p>
            </div>
            <div class="col-sm-6 feature-element">
                <span class="fa fa-retweet fa-5x" aria-hidden="true"></span>
                <p>Real-time Q&A result will be provided.</p>
            </div>
        </div>
    </div>
    <div class="sample-div row">
        <div class="sample-div-inner col-sm-10 col-sm-offset-1">
            <div class="col-sm-12 sample-text">
                <h3>Check our sample project with <a href="#">Jekyll</a>, <a href="#">Wordpress</a> and <a href="#">Tistory</a> blog!</h3>
            </div>
        </div>
    </div>
{% include "main/pages/footer.html"  %}
{% endblock %}
{% block modal %}
    {% include "main/pages/modal_login.html" %}
{% endblock %}
{% block script %}{% endblock %}