{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style rel="stylesheet" >
        .my-jumbotron{
            text-align: center;
            background: url("/static/images/red.jpg");
            color: #fff;
            border-bottom: solid 3px #6a070b;
            position: relative;
            padding-bottom: 0;
            padding-top: 60px;
        }

        .outer-circle {
            position: absolute;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color : transparent;
            border: solid 3px #6a070b;
            bottom : -50px;
            left: 0;
            right : 0;
            margin-left:auto;
            margin-right:auto;
            z-index: 1031;
        }

        .inner-circle{
            position: absolute;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color : #fff;
            border: solid 3px #6a070b;

            bottom : -15px;
            left: 0;
            right : 0;
            margin-left:auto;
            margin-right:auto;
            z-index: 1032;
        }

        .demo h1{
            text-align: center;
            margin-top: 100px;

        }

        .demo .container{
            margin-top: 100px;
        }
        .demo .start-code{
            border : solid 1px rgb(195, 195, 195);
            border-radius: 4px;
            width: 400px;
            height: 220px;
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .demo .demo-modal{
            border : solid 1px rgb(195, 195, 195);
            border-radius: 4px;
            width: 400px;
            height: 220px;
            padding: 20px;
            background-color: rgb(195, 195, 195);
            margin-right: auto;
            margin-left: auto;

        }

        .down-arrow{
            margin-top: 100px;
            margin-bottom: 100px;
            text-align: center;
            font-size: 2em;
        }
        .feature{
            text-align: center;
            margin-top : 50px;
            margin-bottom: 50px;
        }

        .feature .feature-element {
            height: 200px;
            font-size: 1.3em;
            margin-top : 10px;
        }

        .feature .feature-element span{
            font-size: 2em;
        }

        .usecase{
            background-color: #919191;
            color : #fff;
            text-align: center;
            margin-bottom: 50px;
        }
    
        .usecase .usecase-element{
            height: 400px;
            font-size: 1.3em;
            margin-top: 30px;
        }

    </style>
{% endblock %}
{% block jumbotron %}
    <div class="my-jumbotron">
        <div class="container">
        <div class="main-info row">
        </div>
        </div>
        <div class="outer-circle"></div>
        <div class="inner-circle"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="demo">
        <h1>의견이 모이고 있습니다!</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="start-code">
                        <ol class="code">
                            <li><span class="code"><span class="v">var</span> io = <span class="io">require('socket.io')(80)</span>;</span></li>
                            <li><span class="code"><span class="v">var</span> cfg = require('./config.json');</span></li>
                            <li><span class="code"><span class="v">var</span> tw = require('node-tweet-stream')(cfg);</span></li>
                            <li><span class="code">tw.track('socket.io');</span></li>
                            <li><span class="code">tw.track('javascript');</span></li>
                            <li><span class="code">tw.on('tweet', <span class="fn">function</span>(tweet){</span></li>
                            <li><span class="code">&nbsp;&nbsp;<span class="io">io.emit('tweet', tweet)</span>;</span></li>
                            <li><span class="code">});</span></li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="demo-modal">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
    <div class="feature">
        <div class="row">
            <div class="col-sm-6 feature-element">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <p>단 두줄의 코드로 실행할 수 있습니다.</p>
            </div>
            <div class="col-sm-6 feature-element">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <p>Dashboard에서 결과를 편하게 관리하세요.</p>
            </div>

            <div class="col-sm-6 feature-element">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <p>질문과 보기화면 커스텀이 자유롭습니다.</p>
            </div>
            <div class="col-sm-6 feature-element">
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                <p>실시간으로 설문 결과가 반영됩니다.</p>
            </div>
            <div class="col-sm-12">
                <a href="#">데모 페이지 바로가기</a>
            </div>
        </div>
    </div>

    <div class="usecase">
        <div class="row">
            <div class="col-sm-6 usecase-element">
                <p>USECASE1</p>
                <p>서비스 만족도 체크</p>
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXwYIr6yyoMGJ_9bSFgmXJF4cAVtqH_3UPCT1Hf4KlcUPcuLlNWw">
            </div>
            <div class="col-sm-6 usecase-element">
                <div class="usecase-text">
                    <p>USECASE2</p>
                    <p>고객 선호도 체크</p>
                </div>
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXwYIr6yyoMGJ_9bSFgmXJF4cAVtqH_3UPCT1Hf4KlcUPcuLlNWw">
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    {% include "main/pages/modal_login.html" %}
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function user_signup(email, username, password){
            $.ajax({
                url : "signup",
                type : "POST",
                data : {email : email ,username:username, password : password},
                success : function(json){
                    alert("성공했습니다.");
                    alert("json :"+json.msg);
                    $('#login-tab a').tab('show')
                    $('#signup-email').val('');
                    $('#signup-username').val('');
                    $('#signup-password').val('');
                    $('#signup-passowrd2').val('');
                },
                error : function(xhr, errmsg, err){
                    $('#tab-helper-msg').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        "</div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        $('#signup-form').on('submit', function(e){
            e.preventDefault();
            var email = $('#signup-email').val();
            var username = $('#signup-username').val();
            var password = $('#signup-password').val();
            var password2 = $('#signup-password2').val();

            if (password === password2 ){
                user_signup(email, username, password);

            } else {
                alert("비밀번호가 일치하지 않습니다.");
                $('#signup-password').val('');
                $('#signup-password2').val('');
            }
        });

    });
    </script>
{% endblock %}