{% load socialaccount %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <div class="login-modal-close-btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
                <div class="row">
                <div class="user-account-tab col-sm-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" id="login-tab">
                            <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
                        </li>
                        <li role="presentation" id="signup-tab">
                            <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">New Account</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-helper-msg">

                        </div>
                        <div role="tabpanel" class="tab-pane active" id="login">
                            {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}

                            {% if next %}
                                {% if user.is_authenticated %}
                                    <p>Your account doesn't have access to this page. To proceed,
                                        please login with an account that has access.</p>
                                {% else %}
                                    <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}

                            {% if next %}
                                <form action="/login/?next={{next}}" method="post" id="login-form">
                            {%else%}
                                <form action="/login/" method="post" id="login-form">
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="signin-email">Email</label>
                                <input type="email" class="form-control" id="signin-email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <label for="signin-password">Password</label>
                                <input type="password" class="form-control" id="signin-password" placeholder="Your Password">
                            </div>
                            <button class="btn btn-default" id="user_sign_in_button">Sign In</button>
                            <a href="{% url 'password_reset' %}">forgot password?</a>
                            <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="signup">
                            {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}

                            {% if next %}
                                {% if user.is_authenticated %}
                                    <p>Your account doesn't have access to this page. To proceed,
                                        please login with an account that has access.</p>
                                {% else %}
                                    <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}

                            {% if next %}
                                <form action="/signup/?next={{next}}" method="post" id="signup-form">
                            {%else%}
                                <form action="/signup/" method="post" id="signup-form">
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="signup-email">Email</label>
                                <input type="email" class="form-control" id="signup-email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <label for="signup-username">Nickname</label>
                                <input type="text" class="form-control" id="signup-username" placeholder="Your Nickname">
                            </div>
                            <div class="form-group">
                                <label for="signup-password">Password</label>
                                <input type="password" class="form-control" id="signup-password" placeholder="Your Password">
                            </div>
                            <div class="form-group">
                                <label for="signup-password2">Password</label>
                                <input type="password" class="form-control" id="signup-password2" placeholder="Your Password confirm">
                            </div>
                            <button class="btn btn-default" id="user_signup_button">Sign Up</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="social-login col-sm-6">
                        <a href="{% provider_login_url "facebook" method="oauth2" %}"><button class="btn btn-default col-sm-12 facebook"><i class="fa fa-facebook-official"></i>  Login with Facebook</button></a>
                        <a href="{% provider_login_url "google" method="oauth2" %}"><button class="btn btn-default col-sm-12 google"><i class="fa fa-google"></i>  Login with Google</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>