{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}{% endblock %}
{% block content %}
    <h3>This is user page. Thank you!</h3>
    {{ user.email }}
    {{ userId }}
    <div>
    <p>This user has these api keys</p>
    {% if api_key %}
        <a href="{% url 'vote:select_question' api_key.key %}">{{ api_key.key }}</a>
    {% else %}
        <a href="/apikey/new" class="btn btn-default">new api key </a>
    {% endif %}
    </div>
{% endblock %}

{% block script %}{% endblock %}