{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .account-info-dev{
            text-align: center;
        }

        .account-info-dev button{
            margin-bottom: 5px;
        }

        .api-key-info{
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>This is user page. Thank you!</h1>
    <div class="row account-info-dev">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="col-sm-12">
                <button class="btn btn-default col-sm-2">Email</button>
                {{ user.email }}
            </div>
            <div class="col-sm-12">
                <button class="btn btn-default col-sm-2">Id</button>
                {{ userId }}
            </div>
            {% if api_key %}
                <div class="col-sm-12">
                    <button class="btn btn-default col-sm-2">Api key</button>
                    <a href="{% url 'v1:select_question' api_key.key %}" id="key_value" value="{{ api_key.key }}">{{ api_key.key }}</a>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-default col-sm-2">Secret key</button>
                    <div class="col-sm-10">
                        <a id="secret_value" value="{{ api_key.secret_key }}">{{ api_key.secret_key }}</a>
                        <a href="{% url 'main:secret_key_new' api_key.key %}"class="btn btn-info">renew</a>
                        <p class="help-block">If secret key is regenerated, prior JWT can not be used.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-default col-sm-2">JWT</button>
                    <div class="col-sm-4">
                        <label class="col-sm-4 control-label">Expiration</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="exp">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-sm-4 control-label">Not before</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="nbf">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary" id="new-jwt-btn">create</a>
                    <div class="col-sm-10 col-sm-offset-2">
                        <p class="help-block alert alert-danger" id="jwt-error"></p>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12 api-key-info">
                    <p class="text-primary">You don't have a api key.</p>
                    <a href="{% url 'main:apikey_new' %}" class="btn btn-primary">new api key </a>
                </div>
            {% endif %}
            <div class="col-sm-12">
                <button class="btn btn-default col-sm-2">Site URL</button>
                <div class="col-sm-10">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for domain in domains %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>{{ domain }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <form class="form-inline" action="/domain/new" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" value="{{ api_key.key }}" name="api_key">
                            <input type="text" class="form-control" name="domain" placeholder="My domain">
                            <button type="submit" class="btn btn-default">+</button>
                            <p class="help-block">Set a domain you want to accept in this api key.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}