<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main:index' %}">I choose you - Pikachu!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Feature</a></li>
                <li><a href="#">Usecase</a></li>
                <li><a href="#">Document</a></li>
                <li><a href="#" class="btn login" data-toggle="modal" data-target="#myModal">Login</a></li>
            </ul>
        </div>
    </div>
</nav>