{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .answerBtn{
            width: 45%;
        }

        .panel-body{
            text-align: center;
        }

        .action-wrapper{
            width: 300px;
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block content %}
    {{ msg }}
    <div class="row">
    <div id="helper-msg"></div>
    <div class="action-wrapper">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" q_id="107"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Q1</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ question_text }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for a in answers|dictsort:"answer_num" %}
                                <button class="btn btn-default single answerBtn" type="button" a_num="{{ a.answer_num }}" q_id="{{ id }}">
                                    {{ a.answer_text }}
                                </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}