{% extends 'vote/pages/dashboard_overview.html' %}

{% load staticfiles %}

{% block stylesheet %}
    {{ block.super }}
    <style>
        .filter-checkbox-wrapper{
            width: 100%;
            padding: 20px;
            color: #707979;
            height: 162px;
            border: solid #cfcfcf 1px;
        }

        .filter-checkbox-wrapper .filter-questions, .filter-answers{
            border-right: solid #cfcfcf 1px;
        }

        .filter-checkbox-wrapper .filter-questions, .filter-checkbox-wrapper .filter-answers,
        .filter-checkbox-wrapper .filter-selected{
            height: 100%;
            overflow: auto;
            overflow-y: scroll;
        }

        .filter-checkbox-wrapper .filter-selected a{
            text-decoration: none;
        }

        .filter-checkbox-wrapper .filter-selected i{
            color: #cfcfcf;
        }

        .filter-question-navi.row{
            margin-top: 0;
            margin-bottom: 30px;
        }

        .filter-question-navi .col-sm-3{
            margin: 3px;
        }

        .filter-question-navi div.dropdown{
            background-color: rgba(59, 148, 96, 0.27);
            text-align: center;
            padding: 10px;
        }

        .filter-question-navi div.dropdown span {
            right: 5px;
            position: absolute;
        }

        .filter-question-navi a{
            color: #3E3B3B;
        }
    
        .dropdown-menu{
            width: 100%;
        }
    </style>
{% endblock %}

{% block graph %}
    <div class="row">
        <div class="filter-checkbox-wrapper">
            <div class="col-sm-3 filter-questions">
                <p class="p-title">Questions</p>
                <p><input type="checkbox"> Q1</p>
                <p><input type="checkbox"> Q2</p>
                <p><input type="checkbox"> Q3</p>
                <p><input type="checkbox"> Q4</p>
                <p><input type="checkbox"> Q5</p>
            </div>
            <div class="col-sm-3 filter-answers">
                <p class="p-title">Answers</p>
                <p><input type="checkbox"> Answer1</p>
                <p><input type="checkbox"> Answer2</p>
                <p><input type="checkbox"> Answer3</p>
                <p><input type="checkbox"> Answer4</p>
                <p><input type="checkbox"> Answer5</p>
            </div>
            <div class="col-sm-6 filter-selected">
                <p class="p-title">Selected</p>
                <div class="">
                    <h4>
                        <a href="#">
                            <span class="label label-primary">Q1 <i class="fa fa-times"></i></span>
                        </a>
                        <a href="#"><span class="label label-default">Answer1 <i class="fa fa-times"></i></span></a>
                        <a href="#"><span class="label label-default">Answer2 <i class="fa fa-times"></i></span></a>
                    </h4>
                </div>
                <div class="">
                    <h4>
                        <a href="#"><span class="label label-primary">Q2 <i class="fa fa-times"></i></span></a>
                        <a href="#"><span class="label label-default">Answer1 <i class="fa fa-times"></i></span></a>
                        <a href="#"><span class="label label-default">Answer2 <i class="fa fa-times"></i></span></a>
                        <a href="#"><span class="label label-default">Answer3 <i class="fa fa-times"></i></span></a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="filter-question-navi row">
            <div class="col-sm-3">
                <div class="dropdown">
                    <a id="navi-drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        Q1 text ?
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navi-drop1">
                        <li><a href="#">Answer1</a></li>
                        <li><a href="#">Answer2</a></li>
                        <li><a href="#">Answer3</a></li>
                    </ul>
                </div>
                <div class="appended-answer" id="appended-1"></div>
            </div>
            <div class="col-sm-3">
                <div class="dropdown">
                    <a id="navi-drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        Q2 text ?
                    </a>
                    <span><i class="fa fa-close"></i></span>
                    <ul class="dropdown-menu" aria-labelledby="navi-drop2">
                        <li><a href="#">Answer1</a></li>
                        <li><a href="#">Answer2</a></li>
                        <li><a href="#">Answer3</a></li>
                    </ul>
                </div>
                <div class="appended-answer" id="appended-2"></div>
            </div>
            <div class="col-sm-3">
                <div class="dropdown">
                    <a id="navi-drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        Q3 text ?
                    </a>
                    <span><i class="fa fa-close"></i></span>
                    <ul class="dropdown-menu" aria-labelledby="navi-drop3">
                        <li><a href="#">Answer1</a></li>
                        <li><a href="#">Answer2</a></li>
                        <li><a href="#">Answer3</a></li>
                    </ul>
                </div>
                <div class="appended-answer" id="appended-3"></div>
            </div>
        </div>
        <div class="graph-test">
            <div class="row">
                <div class="col-sm-6" id="container1" style="height:400px;"></div>
                <div class="col-sm-6" id="container2" style="height:400px;"></div>
                <div class="col-sm-6" id="container3" style="height:400px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'bootstrap/js/bootstrap-switch.min.js' %}"></script>
    <script type="application/javascript">
        System.import("{% static "js/src/chart2.js" %}");

        // move to js package file
        $("[name='my-checkbox']").bootstrapSwitch();
    </script>
{% endblock %}