{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .chart-div{
            text-align: center;
        }

        .chart-div .show-btn{
            text-align: right;
            margin-right: 10px;
            margin-bottom: 20px;
        }

        .dashboard-div{
            margin-left: 240px;
            margin-right: 15px;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include "main/pages/side_nav.html" %}
{% endblock %}
{% block content %}
    <div class="dashboard-div">
        {{ msg }}
        <h3>
            Single-Question-title
            <br>
            <small>created_dt : 2016-01-01</small>
            <small>end_dt : 2016-01-01</small>
        </h3>
        <div id="helper-msg"></div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p>Question text : {{ question_text }}</p>
                            <p>Question title : {{ question_title }}</p>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>answer_text</th>
                                    <th>answer_count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in answer|dictsort:"answer_num" %}
                                    <tr>
                                        <th scope="row">{{ a.answer_num }}</th>
                                        <td>{{ a.answer_text }}</td>
                                        <td>{{ a.answer_count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="chart-div">
                            <div class="show-btn">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-default active" id="graph1">Graph1</button>
                                    <button class="btn btn-default" id="graph2">Graph2</button>
                                    <button class="btn btn-default" id="graph3">Graph3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}