{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .question-btn{
            text-align: center;
            margin-bottom: 10px;
        }

        .chart-div{
            text-align: center;
        }

        .chart-div .show-btn{
            text-align: right;
            margin-right: 10px;
            margin-bottom: 20px;
        }

    </style>
{% endblock %}
{% block content %}
    {{ msg }}
    <div class="row">
        <h1>Welcome to multiple dashboard page</h1>
        <div id="helper-msg"></div>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="question-btn">
                <div class="btn-group" role="group" aria-label="...">
                    {% for index, q in questions_all.items %}
                        <button class="btn btn-default" qnum="{{ forloop.counter }}">Q{{ forloop.counter }}</button>
                    {% endfor %}
                </div>
            </div>
            {% for index, q in questions_all.items %}
                <div class="panel panel-default q{{ forloop.counter }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p>question text : {{ q.question_text }}</p>
                            <p>question title : {{ q.question_title }}</p>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>answer_text</th>
                                <th>answer_count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in q.answer|dictsort:"answer_num" %}
                                <tr>
                                    <th scope="row">{{ a.answer_num }}</th>
                                    <td>{{ a.answer_text }}</td>
                                    <td>{{ a.answer_count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="chart-div">
                            <div class="show-btn">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-default active" id="graph1" qnum="{{ forloop.counter }}">Graph1</button>
                                    <button class="btn btn-default" id="graph2" qnum="{{ forloop.counter }}">Graph2</button>
                                    <button class="btn btn-default" id="graph3" qnum="{{ forloop.counter }}">Graph3</button>
                                </div>
                            </div>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart1" width="600" height="400"></canvas>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart2" width="600" height="400"></canvas>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart3" width="600" height="400"></canvas>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            var sample_data2 = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };

            var sample_data3 = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [6, 5, 8, 8, 5, 5, 4]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [2, 4, 4, 1, 8, 2, 9]
                    },
                    {
                        label: "My 3 dataset",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [2, 4, 1, 4, 6, 2, 9]
                    },
                    {
                        label: "My 4 dataset",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [1, 4, 2, 7, 3, 4, 5]
                    }
                ]
            };

            var ctx_list = [];
            for (var i= 0 ; i < {{ length }}; i++){
                ctx_list[i] = [];
                ctx_list[i][0] = $("#q"+(i+1)+"Chart1").get(0).getContext("2d");
                ctx_list[i][1] = $("#q"+(i+1)+"Chart2").get(0).getContext("2d");
                ctx_list[i][2] = $("#q"+(i+1)+"Chart3").get(0).getContext("2d");
            }
            var colors = ["#F7464A", "#46BFBD", "#FDB45C", "#C47AC4", "#3759F0", "#2AD487", "#869091", "#721EC7", "#29E8F2"];
            var highlights = ["#FF5A5E", "#5AD3D1", "#FFC870", "#C79DC7", "#7189F5", "#6FD9A9", "#9EA7A8", "#8E47D6", "#83EDF2"];

            var data = [];
            {% for index, q in questions_all.items %}
                    data[{{ index }}] = [];
                {% for a in q.answer %}
                    data[{{ index }}].push({
                        'value': {{ a.answer_count }},
                        'color': colors[{{ forloop.counter0 }}],
                        'highlight': highlights[{{ forloop.counter0 }}],
                        'label': "{{ a.answer_text }}"
                    });
                {% endfor %}
            {% endfor %}

            var myPieChart_list = [];
            for (var j=0; j < {{ length }}; j++){
                myPieChart_list[j] = new Chart(ctx_list[j][0]).Pie(data[j],{animateScale: true});
            }

            var myLineChart_list = [];
            for (var k=0; k < {{ length }}; k++){
                myLineChart_list[k] = new Chart(ctx_list[k][1]).Line(sample_data2,{animateScale: true});
            }

            var myBarChart_list = [];
            for (var h=0; h < {{ length }}; h++){
                myBarChart_list[h] = new Chart(ctx_list[h][2]).Bar(sample_data3,{
                    multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>"
                });
            }

            $('.question-btn button').click(function(){
                var num = $(this).attr('qnum');
                $('.panel-default').hide();

                $('.q'+num).show();

                $('.question-btn button.active').removeClass('active');
                $('.question-btn button[qnum="'+num+'"]').addClass('active');

                $('.show-btn button[qnum="'+num+'"]:first').click();
            });

            $('.panel-default').hide();
            $('.q1').show();

            $('.question-btn button:first').addClass('active');



            $('.show-btn button').click(function(){
                var qnum = $(this).attr('qnum');
                var id = $(this).attr('id');
                $('.chart').hide();

                $('#q'+qnum+'Chart'+id.slice(5)).show();

                $('.show-btn button.active').removeClass('active');
                $('.show-btn button#'+id).addClass('active');
            });

            $('.chart').hide();
            $('.chart:first').show();

        });
    </script>
{% endblock %}