{% extends 'main/base.html' %}

{% load staticfiles %}
{% load vote_extras %}

{% block stylesheet %}{% endblock %}
{% block content %}
    {{ msg }}
    <h3>Group name : {{ group_name }}</h3>
    <h3>You can vote here.</h3>
    <div id="helper-msg"></div>
    <div class="row">
        <div class="col-sm-6">
            {% for key, value in questions.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ value.question_text }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% with answerDict=answers|get_value:key %}
                            {% for a in answerDict %}
                                <div>
                                    <button class="btn btn-primary answerBtn" type="button" a_num="{{ a.answer_num }}" q_id="{{ value.question_id }}">
                                        {{ a.answer_text }}<span class="badge">{{ a.answer_count }}</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            function unique_set(myType){
                //if (myType === "default"){
                    var d = new Date();
                    return d.getTime();
                //}
            }

            $('.answerBtn').click(function () {
                var api_key = "{{ api_key }}";
                var update_num = $(this).attr('a_num');
                var question_title = "";
                var question_id = $(this).attr('q_id');
                var unique_user = unique_set("default");
                var params = {
                    'api_key': api_key,
                    'question_title': question_title,
                    'question_id': question_id,
                    'update_num': update_num,
                    'unique_user': unique_user,
                };
                self.pkc.createUserAnswer(params);
            })
        });
    </script>
{% endblock %}