{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .question-btn{
            text-align: center;
            margin-bottom: 10px;
        }

        .chart-div{
            text-align: center;
        }

        .chart-div .show-btn{
            text-align: right;
            margin-right: 10px;
            margin-bottom: 20px;
        }

    </style>
{% endblock %}
{% block content %}
    {{ msg }}
    <div class="row">
        <h1>Welcome to multiple dashboard page</h1>
        <div id="helper-msg"></div>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="question-btn">
                <div class="btn-group" role="group" aria-label="...">
                    {% for index, q in questions_all.items %}
                        <button class="btn btn-default" qnum="{{ forloop.counter }}">Q{{ forloop.counter }}</button>
                    {% endfor %}
                </div>
            </div>
            {% for index, q in questions_all.items %}
                <div class="panel panel-default q{{ forloop.counter }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p>question text : {{ q.question_text }}</p>
                            <p>question title : {{ q.question_title }}</p>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>answer_text</th>
                                <th>answer_count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in q.answer|dictsort:"answer_num" %}
                                <tr>
                                    <th scope="row">{{ a.answer_num }}</th>
                                    <td>{{ a.answer_text }}</td>
                                    <td>{{ a.answer_count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="chart-div">
                            <div class="show-btn">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-default active" id="graph1" qnum="{{ forloop.counter }}">Graph1</button>
                                    <button class="btn btn-default" id="graph2" qnum="{{ forloop.counter }}">Graph2</button>
                                    <button class="btn btn-default" id="graph3" qnum="{{ forloop.counter }}">Graph3</button>
                                </div>
                            </div>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart1" width="600" height="400"></canvas>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart2" width="600" height="400"></canvas>
                            <canvas class="chart" id="q{{ forloop.counter }}Chart3" width="600" height="400"></canvas>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}