{% extends 'main/base.html' %}

{% load staticfiles %}
{% load vote_extras %}

{% block stylesheet %}
    <style>
        .panel-body{
            text-align: center;
        }

        .answerBtn{
            width: 45%;
        }
    </style>
{% endblock %}
{% block content %}
    {{ msg }}
    <h1>Group name : {{ group_name }}</h1>
    <h1>You can vote here.</h1>
    <div id="helper-msg"></div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <ul class="nav nav-tabs" role="tablist">
                {% for key, value in questions.items|itemsort %}
                    <li tab="{{ key }}"" role="presentation" q_id="{{ value.id }}"><a href="#q{{ value.id }}" aria-controls="q{{ value.id }}" role="tab" data-toggle="tab">Q{{ key }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, value in questions.items|dictsort:"0.lower" %}
                    <div role="tabpanel" class="tab-pane" id="q{{ value.id }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ value.question_text }}</h3>
                            </div>
                            <div class="panel-body">
                                {% with answerDict=answers|get_value:key %}
                                    {% for ak, av in answerDict.items|itemsort %}
                                        <button class="btn btn-default multi answerBtn" type="button" a_num="{{ ak }}" q_id="{{ value.id }}">
                                            {{ av.answer_text }}<span class="badge">{{ av.answer_count }}</span>
                                        </button>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="modal-btn" data-toggle="modal" data-target="#resultModal" hidden>
                resultModal
            </button>
            <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Response</h4>
                        </div>
                        <div class="modal-body">
                            Thank you for answering!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}