{% extends 'main/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <style>
        .question-div{
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .single-question-div button{
            margin-bottom: 3px;
        }

        .question-select-div{
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="question-select-div">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Question select</h1>
        <div id="helper-msg"></div>
        <a href="{% url 'vote:new' api_key %}"><button class="btn btn-info">make a new question?</button></a>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="">
                    <h3>Group Questions</h3>
                    {% for m in multi_question %}
                        <div class="question-div col-sm-10 col-sm-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{% url 'vote:get_multiple_vote' api_key m.group_name %}"><button class="btn btn-default">Answer</button></a>
                                    <a href="{% url 'vote:multiple_dashboard' api_key m.group_name %}"><button class="btn btn-default">Dashboard</button></a>
                                    <button class="btn btn-danger multi-delete-btn" gid="{{ m.id }}">Delete</button>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">id</button>
                                        {{ m.id }}
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">group_name</button>
                                        {{ m.group_name }}
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">question_count</button>
                                        {{ m.get_question_count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div>
                        <h3 class="col-sm-12">Single Questions</h3>
                    </div>
                    {% for q in single_question %}
                        <div class="question-div col-sm-10 col-sm-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{% url 'vote:get_vote' api_key q.question_title %}"><button class="btn btn-default">Answer</button></a>
                                    <a href="{% url 'vote:dashboard' api_key q.id %}"><button class="btn btn-default">Dashboard</button></a>
                                    <button class="btn btn-danger single-delete-btn" qid="{{ q.id }}" qt="{{ q.question_title }}">Delete</button>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">#</button>
                                        {{ forloop.counter }}
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">question_text</button>
                                        {{ q.question_text }}
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-default col-sm-5">question_title</button>
                                        {{ q.question_title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="application/javascript">
        $(document).ready(function(){
            function reload(){
                location.reload();
            }

            $('.multi-delete-btn').click(function(){
                var choice = confirm("Are you sure?");
                if (choice){
                    var params = {
                        'api_key': "{{ api_key }}",
                        'group_id': $(this).attr('gid')
                    };
                    self.qc.deleteMultiQuestionSet(params, reload);
                }

            });

            $('.single-delete-btn').click(function(){
                var choice = confirm("Are you sure?");
                if (choice){
                    var params = {
                        'api_key': "{{ api_key }}",
                        'question_id': $(this).attr('qid'),
                        'question_title': $(this).attr('qt'),
                    };
                    self.qc.deleteQuestionSet(params, reload);
                }
            });
        });
    </script>
{% endblock %}