.navbar-default{
    margin-bottom: 0;
    background-color: #E07272;
    border-color: transparent;
}

.navbar-default .navbar-brand{
    color : #F5CF5A;
}

.navbar-default .navbar-nav>li>a {
    color : #fff;
    padding: 5px;
    margin: 5px 20px;
    font-size: 1.1em;

}

.navbar-default .navbar-brand:hover{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}

.navbar-default .navbar-nav>li>a.login {
    border: solid #fff;
}