{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuesCheetah</title>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    {% block stylesheet %}{% endblock %}
    <script src="{% static "jspm_packages/system.js" %}"></script>
    <script src="{% static "js/config.js" %}"></script>
    <script src="{% static "js/system.yuml.js" %}"></script>
</head>
<body>
    {% block nav %}
        {% include "main/pages/nav.html" %}
    {% endblock %}
    {% if messages %}
        <div class="messages row">
            {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-danger col-sm-6 col-sm-offset-3"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% block jumbotron %}{% endblock %}

    <div class="block-content-wrapper">
        {% block content %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/quescheetah-sdk-0.1.0.js" %}"></script>
    <script type="application/javascript">
        System.import("{% static "js/app.js" %}");
    </script>

    <!--Add this file only if you use realtime feature.-->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    {% block script %}{% endblock %}
    {% block header-script %}{% endblock %}
    </body>
</html>